LLM_COMPLETION_API_KEY = sk-xxx # deepseek-chat
LLM_COMPLETION_API_URL = https://api.deepseek.com
LLM_COMPLETION_API_MODEL_NAME = deepseek-chat

LLM_EMBEDDING_API_KEY = sk-xxx # qwen3
LLM_EMBEDDING_API_URL = https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_EMBEDDING_API_MODEL_NAME = text-embedding-v4

REDIS_HOST = redis-xxx.redns.redis-cloud.com
REDIS_PASSWORD = xxx

ZILLIZ_URI = https://xxx.cloud.zilliz.com
ZILLIZ_TOKEN = xxx
ZILLIZ_JOB_ITEM_COLLECTION_NAME = intelli_job_job_items # make sure the name matches