# deepseek-chat
LLM_COMPLETION_API_KEY = sk-xxx 
LLM_COMPLETION_API_URL = https://api.deepseek.com
LLM_COMPLETION_API_MODEL_NAME = deepseek-chat

# qwen3
LLM_EMBEDDING_API_KEY = sk-xxx 
LLM_EMBEDDING_API_URL = https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_EMBEDDING_API_MODEL_NAME = text-embedding-v4

# redis for crawler caching 
REDIS_HOST = redis-xxx.redns.redis-cloud.com
REDIS_PASSWORD = xxx

# vector db: i used zilliz cloud
ZILLIZ_URI = https://xxx.cloud.zilliz.com
ZILLIZ_TOKEN = xxx
ZILLIZ_JOB_ITEM_COLLECTION_NAME = intelli_job_job_items 

# relational database config
RDS_DRIVERNAME = postgresql+pg8000
RDS_USERNAME = xxx
RDS_PASSWORD = xxx
RDS_HOST = xxx
RDS_DB_NAME = intelli_job_db