annotated-types==0.7.0
anyio==4.9.0
asn1crypto==1.5.1
asttokens 
attrs==25.3.0
Automat==25.4.16
beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
colorama 
comm 
constantly==23.10.4
cryptography==45.0.5
cssselect==1.3.0
debugpy
decorator
defusedxml==0.7.1
distro==1.9.0
dotenv==0.9.9
exceptiongroup
executing 
filelock==3.18.0
greenlet==3.2.3
grpcio==1.67.1
grpcio-tools==1.74.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
importlib_metadata 
incremental==24.7.2
ipykernel 
ipython
ipython_pygments_lexers
itemadapter==0.12.0
itemloaders==1.3.2
jedi 
jiter==0.10.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client 
jupyter_core 
langchain==0.3.26
langchain-core==0.3.66
langchain-deepseek==0.1.3
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langid==1.1.6
langsmith==0.4.4
lxml==6.0.0
matplotlib-inline 
nest_asyncio 
numpy==2.3.2
openai==1.93.0
orjson==3.10.18
packaging==24.2
pandas==2.3.1
parsel==1.10.0
parso 
pg8000==1.31.4
pickleshare
platformdirs 
prompt_toolkit
Protego==0.5.0
protobuf==6.31.1
psutil 
pure_eval
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyDispatcher==2.0.7
Pygments
pymilvus==2.5.9
pyOpenSSL==25.1.0
python-dateutil 
python-dotenv==1.1.1
pytz==2025.2
pywin32==308
PyYAML==6.0.2
pyzmq
queuelib==1.8.0
redis==6.2.0
regex==2024.11.6
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
scramp==1.4.6
Scrapy==2.13.3
service-identity==24.2.0
setuptools==78.1.1
six 
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
stack_data
tenacity==9.1.2
tiktoken==0.9.0
tldextract==5.3.0
tornado 
tqdm==4.67.1
traitlets
Twisted==25.5.0
typing-inspection==0.4.1
typing_extensions 
tzdata==2025.2
ujson==5.10.0
urllib3==2.5.0
w3lib==2.3.1
wcwidth
wheel==0.45.1
zipp 
zope.interface==7.2
zstandard==0.23.0
